<%= form_for @invoiceline, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lineno, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lineno, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :product, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :product, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :quantity, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :unitprice, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :unitprice, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                invoicelines_path, :class => 'btn' %>
  </div>
<% end %>
