<h1>Listing pricesheets</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Day</th>
    <th>Minstay</th>
    <th>Message</th>
    <th>Price</th>
    <th>Isactive</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pricesheets.each do |pricesheet| %>
  <tr>
    <td><%= pricesheet.date %></td>
    <td><%= pricesheet.day %></td>
    <td><%= pricesheet.minstay %></td>
    <td><%= pricesheet.message %></td>
    <td><%= pricesheet.price %></td>
    <td><%= pricesheet.isactive %></td>
    <td><%= link_to 'Show', [:admin,pricesheet] %></td>
    <td><%= link_to 'Edit', edit_admin_pricesheet_path(pricesheet) %></td>
    <td><%= link_to 'Destroy', [:admin,pricesheet], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pricesheet', new_admin_pricesheet_path %>
