<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @roomrate.name %>
</p>

<p>
  <b>Occupancy:</b>
  <%= @roomrate.occupancy %>
</p>

<p>
  <b>Description:</b>
  <%= @roomrate.description %>
</p>


<%= link_to 'Edit', edit_admin_roomrate_path(@roomrate) %> |
<%= link_to 'Back', admin_roomrates_path %>
