<%= form_for [:account,@invoice], :html => { :class => 'well form-horizontal', remote: true } do |f| %>
  <!--
  <div class="control-group">
    <%= f.label :_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :_id, :class => 'text_field' %>
    </div>
  </div>
  -->
  <!--part1  -->
  <div class="row">
    <div class="span4">
      <!--
      <div class="control-group">
        <%= f.label :customer, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :customer_fullname, :class => 'text_field', data: {autocomplete_source: Customer.list} %>
        </div>
      </div>
       -->
       <%= f.fields_for @customer do |builder| %>
         <div class="control-group">
           <%= builder.label :firstname, :class => 'control-label' %>
           <div class="controls">
             <%= builder.text_field :firstname, :class => 'text_field' %>
           </div>
         </div>
         <div class="control-group">
           <%= builder.label :lastname, :class => 'control-label' %>
           <div class="controls">
             <%= builder.text_field :lastname, :class => 'text_field' %>
           </div>
         </div>
         <!-- hide
         <div class="control-group">
           <%= builder.label :address, :class => 'control-label' %>
           <div class="controls">
             <%= builder.text_field :address, :class => 'text_field' %>
           </div>
         </div>
         <div class="control-group">
           <%= builder.label :city, :class => 'control-label' %>
           <div class="controls">
             <%= builder.text_field :city, :class => 'text_field' %>
           </div>
         </div>
         <div class="control-group">
           <%= builder.label :state, :class => 'control-label' %>
           <div class="controls">
             <%= builder.text_field :state, :class => 'text_field' %>
           </div>
         </div>
         <div class="control-group">
           <%= builder.label :zip, :class => 'control-label' %>
           <div class="controls">
             <%= builder.text_field :zip, :class => 'text_field' %>
           </div>
         </div>
         <div class="control-group">
           <%= builder.label :country, :class => 'control-label' %>
           <div class="controls">
             <%= builder.text_field :country, :class => 'text_field' %>
           </div>
         </div>
         <div class="control-group">
           <%= builder.label :phone, :class => 'control-label' %>
           <div class="controls">
             <%= builder.text_field :phone, :class => 'text_field' %>
           </div>
         </div>
         <div class="control-group">
           <%= builder.label :mobile, :class => 'control-label' %>
           <div class="controls">
             <%= builder.text_field :mobile, :class => 'text_field' %>
           </div>
         </div> -->
         <div class="control-group">
           <%= builder.label :email, :class => 'control-label' %>
           <div class="controls">
             <%= builder.text_field :email, :class => 'text_field' %>
           </div>
         </div>
       <% end %>   <!--end form customer -->
     </div>
    <div class="span4">
      <div class="control-group">
        <%= f.label :prefix, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :prefix, :class => 'text_field' %>
          <span class="help-block"> Account Code Prefix for invoice.  </span>
        </div>
      </div>


      <div class="control-group">
        <%= f.label :invoice_no, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :invoice_no, :class => 'text_field' %>
          <span class="help-block"> This number** will submit to Bank </span>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :order_reference, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :order_reference, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :order_date, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :order_date, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :currency, :class => 'control-label' %>
        <div class="controls">
          <%= f.collection_select :currency_id, Currency.all.to_a, :id, :fullname, :class => 'text_field' %>
        </div>
      </div>

    </div>
  </div>
  <!-- part 2 -->
  <div class="row">
    <div class="span8">
      <div class="control-group">
        <%= f.label :MailsContent, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, :class => 'text_field span7', rows: 3 %>
          <span class="help-block"> Email message will show in Email to Customer to confirm payment's details </span>
        </div>
      </div>

    </div>
  </div>
  <!-- part 3 -->
  <div class="row">
    <div class="span8">
      <table class="table table-bordered">
        <tr>
          <th class="span1">No</th>
          <th class="span3">Product</th>
          <th class="span1">quantity</th>
          <th class="span1">unitprice</th>
          <th class="span2">total</th>
          <th></th>
        </tr>
        <%= f.fields_for :invoicelines do |inline| %>
            <%= render :partial => 'invoiceline_fields', locals: {f: inline} %>
        <% end %>
        <tr>
          <td colspan=6>
          <%= link_to_add_fields  "Add invoiceline", f, :invoicelines %>
        </td>
        </tr>
     </table>
    </div>
  </div>

  <!-- part 3 -->
  <div class="row">
    <div class="span5">
      <div class="control-group">
        <%= f.label :paymentnote, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :note, :class => 'text_field span4', rows: 3  %>
          <span class="help-block"> Product description will show on kbank when customer process payment </span>
        </div>
      </div>

    </div>
    <div class="span3">
      <div class="control-group">
        <%= f.label :subtotal, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :subtotal, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :discount, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :discount, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :tax, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :tax, :class => 'text_field' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :grandtotal, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :grandtotal, :class => 'text_field' %>
        </div>
      </div>

    </div>
  </div>



  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                account_invoices_path, :class => 'btn' %>
  </div>
<% end %>
