<tr>
  <td> <%= f.text_field :lineno, :class => 'text_field span1' %>  </td>
  <td> <%= f.text_field :product, :class => 'text_field span3' %> </td>
  <td> <%= f.text_field :quantity, :class => 'text_field span1' %></td>
  <td> <%= f.text_field :unitprice, :class => 'text_field span1' %></td>
  <td> <%= f.text_field :total, :class => 'text_field span2' %>  </td>
  <td>   <%= image_tag("icon_remove.png" ,  class: "remove_fields") %>   </td>
  </td>
</tr>
