<fieldset>
  <div class="table">
    <div class="tr">
      <div style="width:5%" class="td"  > <%= f.text_field :lineno, :class => 'text_field div1' %>  </div>
      <div style="width:40%" class="td" > <%= f.text_field :product, :class => 'text_field div3' %> </div>
      <div style="width:5%" class="td"> <%= f.text_field :quantity, :class => 'text_field div1' %></div>
      <div style="width:20%" class="td"> <%= f.text_field :unitprice, :class => 'text_field div1' %></div>
      <div style="width:25%" class="td" > <%= f.text_field :total, :class => 'text_field div2' %>  </div>
      <div style="width:2%" class="td" >   <%= link_to "X", '#',  class: "remove_fields" %>   </div>

    </div>
  </div>
</fieldset>
