<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @zone.name %>
</p>

<p>
  <b>Description:</b>
  <%= @zone.description %>
</p>

<p>
  <b>Isactive:</b>
  <%= @zone.isactive %>
</p>


<%= link_to 'Edit', edit_admin_zone_path(@zone) %> |
<%= link_to 'Back', admin_zones_path %>
