  <tr>
    <td><%=  show_tiny_logo(hotel.logo) %></td>
    <td><%= hotel.name1 %></td>
    <td><%= hotel.address1 %></td>
    <td><%= hotel.street %></td>
    <td><%= hotel.province.name %></td>
    <td><%= hotel.country.name %></td>
    <td><%= hotel.star %></td>
    <td><%= hotel.isactive %></td>
    <td>
      <%= link_to "<i class=\"icon-zoom-in\"></i>".html_safe, [:admin,hotel],class: 'btn btn-small pull-right', data: {toggle: "tooltip", placement: "top"}, title: "show" %>
      <%= link_to "<i class=\"icon-pencil\"></i>".html_safe, edit_admin_hotel_path(hotel),class: 'btn btn-small pull-right' , data: {toggle: "tooltip", placement: "top"}, title: "edit"%>
   <%= link_to "<i class=\"icon-trash\"></i>".html_safe, [:admin,hotel],class: 'btn btn-small pull-right', method: :delete, data: { confirm: 'Are you sure?' } , data: {toggle: "tooltip", placement: "top"}, title: "delete"%></td>
  </tr>
