<% unless ratesheet.name.nil? %>
 <tr>
    <td > <%= ratesheet.name %> </td>
    <td > <%= ratesheet.hotel.name1 %> </td>

    <td  > <%= ratesheet.roomtype.name %> </td>

    <td > <%= ratesheet.roomrate.name %> </td>
    <td > <%= ratesheet.period.name %>  </td>
    <td >
      <%= link_to "<i class=\"icon-trash\"></i>".html_safe,destroy_ratesheet_admin_hotel_path(ratesheet),class: 'pull-right', method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;

      <%= link_to  "<i class=\"icon-pencil\"></i>".html_safe,edit_ratesheet_admin_hotel_path(ratesheet),class: 'pull-right',  :remote => true, 'data-toggle' => 'tab', 'data-target' => '#ratesheet' %> &nbsp;
    </td>
</tr>
<% end %>
