<% unless ratesheet.name.nil? %>
 <p>
    <span class="col1"> <%= ratesheet.name %> </span>
    <span class="col1"> <%= ratesheet.hotel.name1 %> </span>

    <span class="col1" > <%= ratesheet.roomtype.name %> </span>

    <span class="col1"> <%= ratesheet.roomrate.name %> </span>
    <span class="col2"> <%= ratesheet.period.name %>  </span>
    <span class="col2 collast">
      <%= link_to "<i class=\"icon-trash\"></i>".html_safe,destroy_ratesheet_admin_hotel_path(ratesheet),class: 'pull-right', method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;

      <%= link_to  "<i class=\"icon-pencil\"></i>".html_safe,edit_ratesheet_admin_hotel_path(ratesheet),class: 'pull-right',  :remote => true, 'data-toggle' => 'tab', 'data-target' => '#ratesheet' %> &nbsp;
    </span>
</p>
<% end %>
