<p id="notice"><%= notice %></p>
<p>
  <b>Hotel:</b>
  <%= @contact.hotel.nil?  ? "no hotel" : "#{link_to @contact.hotel.name1, admin_hotel_path(@contact.hotel)}".html_safe %>
</p>


<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Position:</b>
  <%= @contact.position %>
</p>

<p>
  <b>Telephone:</b>
  <%= @contact.telephone %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>


<%= link_to 'Edit', edit_admin_contact_path(@contact) %> |
<%= link_to 'Back', admin_contacts_path %>
