<%= form_for([:admin,@currency], html: {class: "form-horizontal"}) do |f| %>
  <% if @currency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@currency.errors.count, "error") %> prohibited this currency from being saved:</h2>

      <ul>
      <% @currency.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
    <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description , class: "control-label" %>
    <div class="controls">
    <%= f.text_field :description %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :code , class: "control-label" %>
    <div class="controls">
    <%= f.text_field :code %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rate , class: "control-label" %>
    <div class="controls">
    <%= f.text_field :rate %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :icon , class: "control-label" %>
    <div class="controls">
    <%= f.text_field :icon %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
    <%= f.submit 'add currency', class: "btn"%>
    </div>
  </div>
<% end %>
