<h1>Listing images</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.name %></td>
    <td>
      <a data-toggle="lightbox" href="#lightbox">Open Lightbox</a>
      <a class="thumbnail" href="#lightbox" data-toggle="lightbox">
        <%=image_tag image.image.url(:tiny_thumb) %>
      </a>
      <div id="lightbox" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class='lightbox-content'>
          <%=image_tag image.image.url %>
          <div class="lightbox-caption"><p>Your caption here</p></div>
        </div>
      </div>
    </td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path %>

<ul class="thumbnails">
  <li class="span4">
    <a href="#" class="thumbnail">
      <img data-src="holder.js/300x200" alt="">
    </a>
  </li>
</ul>
