<h1>Listing organizations</h1>

<table>
  <tr>
    <th>Address1</th>
    <th>Address2</th>
    <th>Telephone</th>
    <th>Fax</th>
    <th>Contact</th>
    <th>Valid from</th>
    <th>Valid to</th>
    <th>Isactive</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @organizations.each do |organization| %>
  <tr>
    <td><%= organization.address1 %></td>
    <td><%= organization.address2 %></td>
    <td><%= organization.telephone %></td>
    <td><%= organization.fax %></td>
    <td><%= organization.contact %></td>
    <td><%= organization.valid_from %></td>
    <td><%= organization.valid_to %></td>
    <td><%= organization.isactive %></td>
    <td><%= link_to 'Show', organization %></td>
    <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
    <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Organization', new_organization_path %>
