<p id="notice"><%= notice %></p>

<p>
  <b>Name1:</b>
  <%= @hotel.name1 %>
</p>

<p>
  <b>Name2:</b>
  <%= @hotel.name2 %>
</p>

<p>
  <b>Address1:</b>
  <%= @hotel.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @hotel.address2 %>
</p>

<p>
  <b>Address3:</b>
  <%= @hotel.address3 %>
</p>

<p>
  <b>City:</b>
  <%= @hotel.city %>
</p>

<p>
  <b>Postal:</b>
  <%= @hotel.postal %>
</p>

<p>
  <b>Telephone:</b>
  <%= @hotel.telephone %>
</p>

<p>
  <b>Fax:</b>
  <%= @hotel.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @hotel.email %>
</p>

<p>
  <b>Url:</b>
  <%= @hotel.url %>
</p>

<p>
  <b>Reservationemail:</b>
  <%= @hotel.reservationemail %>
</p>

<p>
  <b>Localtion:</b>
  <%= @hotel.localtion %>
</p>

<p>
  <b>Star:</b>
  <%= @hotel.star %>
</p>

<p>
  <b>Isactive:</b>
  <%= @hotel.isactive %>
</p>


<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
